body {
    margin: 0;
    background-color: #FFF8E7;
}

label {
    display: block;
    margin-bottom: .5rem;
    margin-top: 1rem;
}

input {
    display: block;
}

.button-creator {
    display: grid;
    grid-gap: 30px;
    padding: 30px;
    grid-template-columns: 350px 1fr;
}

button[data-action="apply"], button[data-action="delete"] {
    font-family: 'IBM Plex Mono', monospace;
    font-size: .875rem;
    color: #FFF;
    background-color: #906241;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
}

#reset, #preset-form button {
    font-family: 'IBM Plex Mono', monospace;
    font-size: .875rem;
    color: #FFF;
    background-color: #906241;
    width: 150px;
    margin-top: 15px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#controls, .presets {
    font-family: 'IBM Plex Mono', monospace;
    font-size: .875rem;
    background-color: #D2B48C;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.css {
    font-family: 'IBM Plex Mono', monospace;
    color: #333;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.css span {
    display: block;
    margin-bottom: .5rem;
}